@tailwind base;
@tailwind components;
@tailwind utilities;

Td {
  color: #ffffff !important;
}

Thead > Tr > Th,
Tfoot > Tr > Th {
  color: #ef4723 !important;
}

.row > Th {
  color: #f0af24;
}

button:hover {
  scale: 1.1;
  box-shadow: 0.2em 0.2em 1em dimgray;
}
